<div class="col-sm-3 well box">
	<%= link_to to_do.title, board_to_do_path(@board, to_do.id) %> <br>
	<%= link_to "Edit", edit_board_to_do_path(@board,to_do.id), class:"btn btn-sm btn-warning" %>
</div>
	

