<div class="container">
	<h1>Board List</h1>
	<div class="row">
		<% @boards.each do |board| %>
			<div class="col-sm-2 well box">
				<%= link_to board.title , board %>
			</div>
		<% end %>
	</div>
</div>

