/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
$blue: 				#026AA7;
$highlihgt_blue: 	#005B90;
$grey:				#dadada;
$highlight_grey:	#D6DADC;
$body:				#0079BF;
$grey_todo:			#E2E4E6;

@import "bootstrap-sprockets";
@import "bootstrap";

body{
	font-family: "Lato", sans-serif;
	background-color: $body;
}

body.homepage{
	background: white;
}



.navbar{
	background: $blue;
	border-radius: 0;
}
.navbar-default .navbar-brand{
	color: white;
	&:hover{
		color: white;
	}
}
.navbar-default {
	border-color: $blue;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    border-radius: 2px;
    &:hover{
    	color: $highlihgt_blue;
    	background: white;
    }
}

.navbar-default .navbar-text {
    color: #eaeaea;
}

.welcome_usr{
	font-size: .7em;
	font-style: italic;
}

.board_header{
	margin: 20px auto;
	display:inline-block;
	width:100%;
	.board_title .btn-warning{
		margin-left: 20px;
	}
}


.well_board{
	display:table;
	position:relative;
	padding:20px;
	a:hover{
		text-decoration: none;
	}
}

.well{
	position:relative;
	padding:12px;
	a{
		color: #333;
		&:hover{
			text-decoration: none;
		}
	}
}


.box{
	margin: 10px 20px 0 0;
	background: $grey_todo;
}


.board_box{
	margin: 10px 10px;
	background: $blue;
	width: 300px;
	height: 100px;
	border-radius: 2px;
	&:hover{
		background: $highlihgt_blue;
	}
}

.create_board_box{
	margin: 10px 10px;
	background: $highlight_grey;
	width: 300px;
	height: 100px;
	border-radius: 2px;
	font-weight: 300;
	font-size: 1em;
	color: #888;
	text-align:center;
	&:hover{
		background: #eaeaea;
		text-decoration: none;
		color: #888;
	}
}

.new_todo{
	margin: 10px 20px 0 0;
	.form-control{
		background: rgba(0,0,0,.12);
		border-radius: 2px;
		color:white;
		border-color: rgba(0,0,0,.12);
		box-shadow: none;
		&:focus{
			background:white;
			color: #777;
		}
	}
}

.todo_title{
	margin-bottom: 10px;
	a{
		color: #555;
		text-decoration: none;
		font-weight: 900;
		&:hover{
			color:black;
		}
	}
}

a.board_title {
	color:white;
	text-decoration:none;
	font-weight: bold;
	font-size:1.2em;
	text-align:center;
}

.board_title{
	color:white;
	font-weight: bold;
	font-size:1.4em;
	span{
		color: $grey;
		font-size: .8em;
	}
}

.well .glyphicon-remove, .glyphicon-remove{
	color: $grey;
	position:absolute;
	top:7px;
	right:7px;
	&:hover{
		text-decoration:none;
	}
}

.todo_title .glyphicon-remove{
	color: #777;
}

.btn-sm{
	border-radius: 0;
}

.btn-warning{
	background: $blue;
	border-color: $blue;
	&:hover{
		background: $highlihgt_blue;
		border-color: $highlihgt_blue;
	}
}

.about, .login{
	color:white;
	p.help-block{
		color: #D9EDF7;
	}
}

.about{
	background: white;
	color: $blue;
	border-radius: 3px;
	margin-top: 100px;
	padding: 50px;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alert {
    padding: 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
    position: fixed;
    z-index: 9999;
    width:100%;
    text-align:center;
}

h2 i.glyphicon-user{
	font-size: .7em;
}

.card_details{
	p{
		color: #888;
	}
	.card_desc{
		color: #222;
		span{
			position: absolute;
			bottom: 10px;
			right: 5px;
			color: $blue;
		}
	}
}

input#card_duedate{
	color: #888;
}

.comment_box{
	background: rgba($highlight_grey, .7);
	color: #222;
	width: 90%;
	margin: 20px 10px 0 20px;
	border-radius: 2px;
	p{
		padding: 10px 20px;
	}
}

.comment_form{
	margin-top: 50px;
}
